<div class="wrapper">
  <div class="text">
    <h1>THE END</h1>

    <h2>В головних ролях:</h2>

    <div class="text-table">
      <div>Програміст:</div>
      <div>Роман</div>
      <div>Дизайнер:</div>
      <div>Невідомий чєл</div>
      <div>Метор</div>
      <div>Сергій</div>
    </div>

    <h2>В другорядних ролях:</h2>

    <div class="text-table">
      <div>Кіт:</div>
      <div>Митяй</div>

      <div>Lorem ipsum dolor sit amet</div>
      <div>consectetur adipiscing elit.</div>

      <div>Vestibulum luctus euismod iaculis</div>
      <div>Maecenas sit amet ipsum cursus</div>

      <div>lacinia elit in, lobortis</div>
      <div>risus. Pellentesque eu ante a ante</div>

      <div>vulputate tincidunt. Fusce eget tortor</div>
      <div>lorem. Ut tincidunt libero quis dolor vestibulum</div>

      <div>quis efficitur orci</div>
      <div>aliquam. Morbi in fringilla libero</div>

      <div>vitae tincidunt ipsum. Quisque nisl</div>
      <div>lorem, finibus sed sem quis, finibus dictum purus</div>

      <div>In sed elit at mauris</div>
      <div>fringilla maximus. Pellentesque</div>

      <div>vehicula, odio sit amet elementum port</div>
      <div>elit massa lacinia libero, sit amet porta lorem</div>

      <div>rutrum lobortis lobortis. Nam metus mi</div>
      <div>venenatis et dignissim sit amet,</div>

      <div>venenatis at felis. Nam eget sollicitudin nibh</div>
      <div>ac sagittis sapien. Vivamus</div>
    </div>

    <br />

    <div>Зроблено з любов'ю на ангулярі.</div>
  </div>
</div>
