<app-simple-card class="graph__wrapper">
  <div echarts class="graph" [options]="options">GRAPH</div>
  <div class="graph__data">
    <div class="graph__data__section">
      <div class="label">Resolved</div>
      <div class="value">449</div>
    </div>
    <div class="graph__data__section">
      <div class="label">Received</div>
      <div class="value">426</div>
    </div>
    <div class="graph__data__section">
      <div class="label">Average first response time</div>
      <div class="value">33m</div>
    </div>
    <div class="graph__data__section">
      <div class="label">Average response time</div>
      <div class="value">3h 8m</div>
    </div>
    <div class="graph__data__section">
      <div class="label">Resolution within SLA</div>
      <div class="value">94%</div>
    </div>
  </div>
</app-simple-card>
