@import "colors.scss";

.list {
  padding: 32px;
  padding-bottom: 8px;
}

.header {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.4px;
  &__wrapper {
    position: relative;
    margin-bottom: 16px;

    .more-button {
      position: absolute;
      right: -16px;
      top: -6px;
      border-radius: 6px;
    }
  }

  &-sub {
    margin-top: 8px;
    font-size: 12px;
    color: $grayscale-dark;

    .label {
      color: $grayscale-gray;
    }
  }
}

.ticket {
  position: relative;
  display: flex;
  height: 58px;
  align-items: center;
  border-bottom: 1px solid $grayscale-divider;
  margin: 0 -32px;
  padding: 0 32px;

  &:last-child {
    border-bottom: 0px;
  }

  &__title {
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  &__ammount {
    position: absolute;
    font-size: 14px;

    right: 32px;
    color: $grayscale-gray;
  }
}
