@import "colors.scss";
@import "mixins.scss";
// @import "./table.scss";
// @import "./menu.scss";
@include matInputCustomStyle();

:host {
  perspective: 1000px;
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 32px 25px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  gap: 20px;
  position: sticky;
  top: -18px;
  background: linear-gradient(#fff 80%, #fff0);
  border-radius: 8px;

  button {
    // padding: 7px 20px;
    border-radius: 4px;
    @include emptyBututon();
    @include likeButton();
    color: $grayscale-dark;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    gap: 8px;

    &:hover {
      // background-color: rgba($grayscale-dark, 10%);
      .button-ico {
        background-color: darken($grayscale-gray-light, 20%);
      }
    }

    &:active {
      color: $accent;
      .button-ico {
        background-color: $accent;
      }
    }

    .button-ico {
      width: 16px;
      height: 16px;
      background-color: $grayscale-gray-light;
    }
  }

  .add-button {
    margin-left: auto;
    color: $accent;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: darken($accent, 20%);
    }
  }

  .sort-button {
    .button-ico {
      mask-image: url("/assets/img/sort.svg");
    }
  }

  .filter-button {
    transition: all 0.3s;
    .button-ico {
      mask-image: url("/assets/img/filter.svg");
    }
  }
}

.filter-formfield {
  width: 100%;
  &__button {
    background-color: #f00;
    color: #f00;
    margin-top: 8px !important;
    margin-right: -5px !important;
  }

  &__wrapper {
    flex-grow: 1;
    display: flex;
    transition: all 0.3s;
    margin-left: -80px;

    & > button {
      margin-top: 7px;
    }

    &_hidden {
      opacity: 0;
      transform: rotateX(20deg) translateY(-20px);
      pointer-events: none;
    }
  }

  // &__hidden {
  //   // width: 0px;
  //   opacity: 0;
  //   transform: rotateX(20deg) translateY(-20px);
  //   pointer-events: none;
  // }
}

.filter-button__hidden {
  // width: 0px;
  opacity: 0;
  transform: rotateX(30deg);
  pointer-events: none;
}
