<app-login-modal-window header="Reset Password" content="Enter new password">
  <form class="reset-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label class="form-control__label" for="pass1">Password</label>
      <input
        #passwordField1
        placeholder="Password"
        class="form-control__input"
        [class.form-control__input__failed]="password1?.touched && password1?.errors?.['required']"
        formControlName="password1"
        type="password"
        id="pass1"
      />
      <div *ngIf="resetForm.invalid" class="form-control__error">
        <div *ngIf="password1?.touched && password1?.errors?.['required']">
          Password required.
        </div>
      </div>
      <button
        type="button"
        (click)="togglePassMode()"
        class="form-control__hide-button"
      ></button>
    </div>

    <div class="form-control">
      <label class="form-control__label" for="pass2">Password</label>
      <input
        #passwordField2
        placeholder="Password"
        class="form-control__input"
        [class.form-control__input__failed]="password2?.touched && password2?.errors?.['required']"
        formControlName="password2"
        type="password"
        id="pass2"
      />
      <div *ngIf="resetForm.invalid" class="form-control__error">
        <div *ngIf="password2?.touched && password2?.errors?.['required']">
          Password required.
        </div>
      </div>
      <button
        type="button"
        (click)="togglePassMode()"
        class="form-control__hide-button"
      ></button>
    </div>

    <app-regular-button [disabled]="!resetForm.valid">
      Reset
    </app-regular-button>
  </form>

  <div class="post-form">
    <div>Don’t have an account? <a routerLink="/signup">Sign up</a></div>
    <div>Forget Password? <a routerLink="/forgot">Restore</a></div>
  </div>
</app-login-modal-window>
