@import "mixins.scss";

.mat-flat-button {
  @include matButtonCustomStyle();
}

.mat-button {
  @include defaultButton();
}

.calendar-ico {
  display: inline-block;
  background-color: $grayscale-ico;
  width: 20px;
  height: 20px;
  mask-image: url("/assets/img/ico_calender.svg");

  &:active {
    background-color: $accent;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__inputs {
    & > * {
      width: 100%;
    }
  }
}
