@import "colors.scss";
@import "mixins.scss";
@import "./table.scss";
@import "./menu.scss";
// @include matInputCustomStyle();

$warn-button-color-shadow: rgba(#f00, 0.24);

:host {
  flex-grow: 1;
}

.tickets {
  // max-height: 300px;
}

.mat-row:hover {
  background-color: rgba($accent, 0.04);
}

.mat-button-custom {
  @include matButtonCustomStyle(rgba(#f00, 0.24));
}

.modal-delete {
  &__buttons {
    @include flexColCenter(15px);
    & > * {
      @include defaultButton();
      width: 100%;
    }
  }
  &__icon {
    // transform: scale(2);
    font-size: 128px;
    height: 128px;
    width: 128px;
    color: rgba($grayscale-black, 0.2);

    &__wrapper {
      @include flexCenter();
      // display: ;
    }
    // display: block;
  }
  &__header {
    font-size: 24px;
    color: $grayscale-black;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
}
