<app-simple-card class="tickets">
  <!-- --- SORT, FILTER & ADD BUTTONS --- -->
  <app-table-widgets
    (requestSetSortBy)="setSortBy($event)"
    (requestSetFilterPhrase)="setFilterPhrase($event)"
    (requestAddNew)="addNewTicket()"
  ></app-table-widgets>

  <!-- --- TABLE --- -->
  <table mat-table [dataSource]="ticketsDataSource">
    <!-- --- COLUMN: TICKET DETAILS --- -->
    <ng-container matColumnDef="ticketDetails">
      <mat-header-cell class="table-column-big" *matHeaderCellDef>
        Ticket details
      </mat-header-cell>
      <mat-cell *matCellDef="let ticket">
        <div class="photo-ceil">
          <img [src]="ticket.photoUrl" class="table-row-img" />
          <div>
            <div class="table-ceil-label">{{ ticket.ticketName }}</div>
            <div class="table-ceil-text">
              Updated {{ ticket.lastUpdated | daysAgo }}
            </div>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <!-- --- COLUMN: CUSTOMER NAME --- -->
    <ng-container matColumnDef="customerName">
      <mat-header-cell *matHeaderCellDef>Customer name</mat-header-cell>
      <mat-cell *matCellDef="let ticket">
        <div>
          <div class="table-ceil-label">{{ ticket.customerName }}</div>
          <div class="table-ceil-text">
            on {{ ticket.customerLastLogin | date: "dd.MM.yyyy" }}
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <!-- --- COLUMN: DATE --- -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let ticket">
        <div>
          <div class="table-ceil-label">
            {{ ticket.creationDate | date: "MMM dd.yyyy" }}
          </div>
          <div class="table-ceil-text">
            {{ ticket.creationDate | date: "hh:mm aa" }}
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <!-- --- COLUMN: PRIORITY --- -->
    <ng-container matColumnDef="priority">
      <mat-header-cell *matHeaderCellDef>Priority</mat-header-cell>
      <mat-cell *matCellDef="let ticket">
        <app-priority-chips [priority]="ticket.priority"></app-priority-chips>
      </mat-cell>
    </ng-container>

    <!-- --- COLUMN: 3-DOT MENU BUTTON --- -->
    <ng-container matColumnDef="context">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let ticket; let i = index">
        <button
          mat-icon-button
          [mat-menu-trigger-for]="itemMenu"
          (click)="ticketId = ticket.id"
        >
          <mat-icon class="dot-icon__wrapper">
            <div class="dot-icon"></div>
          </mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    <!-- --- 3-DOT MENU ITEMS --- -->
    <mat-menu #itemMenu="matMenu" class="mat-menu">
      <button mat-menu-item (click)="editTicket()">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="isModalComfirmHidden = false">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </table>

  <mat-paginator
    [pageSize]="8"
    [pageSizeOptions]="[5, 8, 12, 20]"
  ></mat-paginator>
</app-simple-card>

<app-modal-wrapper [isHidden]="isModalComfirmHidden" class="modal-delete">
  <div class="modal-delete__icon__wrapper">
    <mat-icon class="modal-delete__icon">delete</mat-icon>
  </div>
  <div class="modal-delete__header modal-head">Are you sure?</div>
  <div class="modal-delete__buttons modal-btn-wrapper">
    <button
      mat-flat-button
      color="warn"
      class="mat-button-custom"
      (click)="deleteTicket()"
    >
      Delete
    </button>
    <button mat-button (click)="isModalComfirmHidden = true">Cancel</button>
  </div>
</app-modal-wrapper>
<app-modal-wrapper class="modal-add" [isHidden]="isModalAddHidden">
  <app-add-ticket-form
    (requestCloseWindow)="isModalAddHidden = true"
    [ticketId]="ticketId"
  ></app-add-ticket-form>
</app-modal-wrapper>
