<app-simple-card class="tickets">
  <!-- <div class="table-widgets"></div> -->
  <app-table-widgets
    (requestSetSortBy)="setSort($event)"
    (requestSetFilterPhrase)="setFilterPhrase($event)"
  ></app-table-widgets>
  <table mat-table [dataSource]="ticketsDataSource">
    <!-- --- TICKET DETAILS --- -->
    <ng-container matColumnDef="ticketDetails">
      <mat-header-cell class="table-column-big" *matHeaderCellDef>
        Ticket details
      </mat-header-cell>
      <mat-cell *matCellDef="let ticket">
        <div class="photo-ceil">
          <img [src]="ticket.photoUrl" class="table-row-img" />
          <div>
            <div class="table-ceil-label">{{ ticket.ticketName }}</div>
            <div class="table-ceil-text">
              Updated {{ ticket.lastUpdated | daysAgo }}
            </div>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <!-- --- CUSTOMER NAME --- -->
    <ng-container matColumnDef="customerName">
      <mat-header-cell *matHeaderCellDef>Customer name</mat-header-cell>
      <mat-cell *matCellDef="let ticket">
        <div>
          <div class="table-ceil-label">{{ ticket.customerName }}</div>
          <div class="table-ceil-text">
            on {{ ticket.customerLastLogin | date: "dd.MM.yyyy" }}
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <!-- --- DATE --- -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let ticket">
        <div>
          <div class="table-ceil-label">
            {{ ticket.creationDate | date: "MMM dd.yyyy" }}
          </div>
          <div class="table-ceil-text">
            {{ ticket.creationDate | date: "hh:mm aa" }}
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <!-- --- PRIORITY --- -->
    <ng-container matColumnDef="priority">
      <mat-header-cell *matHeaderCellDef>Priority</mat-header-cell>
      <mat-cell *matCellDef="let ticket">
        <app-priority-chips [priority]="ticket.priority"></app-priority-chips>
      </mat-cell>
    </ng-container>

    <!-- --- 3-DOT MENU BUTTON --- -->
    <ng-container matColumnDef="context">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let ticket; let i = index">
        <button [mat-menu-trigger-for]="itemMenu">.</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    <!-- --- 3-DOT MENU --- -->
    <mat-menu #itemMenu="matMenu" class="mat-menu">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>

        <span>Delete</span>
      </button>
    </mat-menu>
  </table>
</app-simple-card>
