<app-modal-window header="Sign Up" content="Create a new account">
  <form class="register-form" [formGroup]="signUpForm" (ngSubmit)="onSumbit()">
    <div class="form-control">
      <label class="form-control__label" for="login-email">Email</label>
      <input
        placeholder="Email address"
        class="form-control__input"
        [class.form-control__input__failed]="email?.touched && (email?.errors?.['email'] || email?.errors?.['required'])"
        formControlName="email"
        type="email"
        id="login-email"
      />

      <div *ngIf="signUpForm.invalid" class="form-control__error">
        <div *ngIf="email?.touched && email?.errors?.['email']">
          Incorrect email.
        </div>
        <div *ngIf="email?.touched && email?.errors?.['required']">
          Email required.
        </div>
      </div>
    </div>

    <div class="form-control">
      <label class="form-control__label" for="register-firstname"
        >First Name</label
      >
      <input
        placeholder="First name"
        class="form-control__input"
        [class.form-control__input__failed]="firstName?.touched && firstName?.errors?.['required']"
        formControlName="firstName"
        type="email"
        id="register-firstname"
      />

      <div *ngIf="signUpForm.invalid" class="form-control__error">
        <div *ngIf="firstName?.touched && firstName?.errors?.['required']">
          First name required.
        </div>
      </div>
    </div>

    <div class="form-control">
      <label class="form-control__label" for="register-firstname"
        >Last Name</label
      >
      <input
        placeholder="First name"
        class="form-control__input"
        [class.form-control__input__failed]="lastName?.touched && lastName?.errors?.['required']"
        formControlName="lastName"
        type="email"
        id="register-firstname"
      />

      <div *ngIf="signUpForm.invalid" class="form-control__error">
        <div *ngIf="lastName?.touched && lastName?.errors?.['required']">
          First name required.
        </div>
      </div>
    </div>

    <div class="form-control">
      <label class="form-control__label" for="form-control">Password</label>
      <input
        #passwordField1
        placeholder="Password"
        class="form-control__input"
        [class.form-control__input__failed]="password1?.touched && password1?.errors?.['required']"
        formControlName="password1"
        type="password"
        id="login-pass1"
      />
      <div *ngIf="signUpForm.invalid" class="form-control__error">
        <div *ngIf="password1?.touched && password1?.errors?.['required']">
          Password required.
        </div>
      </div>
      <button
        type="button"
        (click)="togglePassmode()"
        class="form-control__hide-button"
      ></button>
    </div>

    <div class="form-control">
      <label class="form-control__label" for="login-pass2">Password</label>
      <input
        #passwordField2
        placeholder="Password"
        class="form-control__input"
        [class.form-control__input__failed]="password2?.touched && password2?.errors?.['required']"
        formControlName="password2"
        type="password"
        id="login-pass2"
      />
      <div *ngIf="signUpForm.invalid" class="form-control__error">
        <div *ngIf="password2?.touched && password2?.errors?.['required']">
          Password required.
        </div>
      </div>
      <button
        type="button"
        (click)="togglePassmode()"
        class="form-control__hide-button"
      ></button>
    </div>

    <app-regular-button [disabled]="!signUpForm.valid">
      Register
    </app-regular-button>
  </form>

  <!-- <div class="post-form">
    <div>Don’t have an account? <a routerLink="/signup">Sign up</a></div>
    <div>Forget Password? <a routerLink="/forgot">Restore</a></div>
  </div> -->
</app-modal-window>
