@import "colors.scss";

@mixin flexColCenter($gap: 0px) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap;
}

@mixin flexCenter($gap: 0px) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin modalBg($color: #0000) {
  width: 100vh;
  height: 100vh;
  @include flexColCenter();
}

@mixin likeButton() {
  user-select: none;
  cursor: pointer;
}

@mixin emptyBututon() {
  border: none;
  background-color: #0000;
}

@mixin matInputCustomStyle() {
  ::ng-deep .mat-form-field {
    font-size: 14px;
    margin-top: 21px;
    margin-bottom: 24px;
    // position: relative;
    .mat-form-field-wrapper {
      margin: 0px !important;
      padding: 0px !important;
    }
    .mat-input-element {
      margin-top: -1px;
      font-family: Mulish;

      &::placeholder {
        color: rbga($grayscale-dark, 0.4);
      }

      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px $grayscale-gray-extralight inset !important;
      }
    }
    .mat-form-field-flex {
      padding: 0 16px !important;
      // padding-top: 5px;
    }

    .custom-label {
      position: absolute;
      text-transform: uppercase;
      font-size: 12px;
      color: $grayscale-gray;
      font-weight: 700;
      line-height: 18px;
      top: -30px;
      left: -16px;
    }

    .mat-form-field-infix {
      padding: 3px 0px;
      height: 42px;
    }
    .mat-form-field-outline {
      // border: 1px solid $grayscale-gray-lightest;
      // border-radius: 8px;
      background-color: $grayscale-gray-extralight;
    }
  }

  //input outline color
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $grayscale-gray-lightest !important;
    // opacity: 1!important;
  }

  //mat-input focused color
  ::ng-deep
    .mat-form-field-appearance-outline.mat-focused
    .mat-form-field-outline-thick {
    color: $accent !important;
  }

  ::ng-deep .mat-form-field-suffix {
    // position: absolute;
    // top: 0px;
    // left: 0px;
    margin-right: -8px;
    transform: translateY(1px);
    // margin-top: 5px;
    // margin-bottom: -5px;
  }

  ::ng-deep .mat-select-arrow-wrapper {
    margin-top: 8px;
  }

  ::ng-deep.mat-select-arrow {
    color: $grayscale-ico;
    // background-color: #ff0;
  }

  ::ng-deep .mat-select-panel {
    // background-color: #f00;
    border-radius: 8px !important;
    overflow: hidden !important;
    border: 1px solid $grayscale-divider !important;
    // border: 1px solid #0f0 !important;
    box-shadow: 0 5px 15px rgba($grayscale-dark, 0.1) !important;
  }

  // ::ng-deep .mat-option {
  //   // background-color: #fff;
  //   &:hover {
  //     // background-color: #f00;
  //   }
  // }

  ::ng-deep .mat-option.mat-active {
    background: rgba($accent, 0.2) !important;
  }

  ::ng-deep .mat-form-field-outline-start {
    border-radius: 8px 0 0 8px !important;
    min-width: 8px !important;
  }

  ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 8px 8px 0 !important;
  }
}

@mixin matDatePickerCustomStyle() {
  ::ng-deep .mat-calendar {
    border-radius: 8px;
  }

  ::ng-deep .mat-datepicker-content {
    border: 1px solid $grayscale-divider;
    border-radius: 8px !important;
    box-shadow: 0 5px 15px rgba($grayscale-dark, 0.1);
  }

  ::ng-deep .mat-calendar-header {
    background-color: $grayscale-gray-lightest;
    padding: 8px 0 0 0;
    border-radius: 7px 7px 0 0;
  }

  ::ng-deep .mat-calendar-content {
    padding: 0px !important;
  }

  ::ng-deep .mat-calendar-body-cell-content {
    border-radius: 8px !important;
  }

  // Days of week
  ::ng-deep .mat-calendar-table-header {
    $calendar-table-header-color: lighten($grayscale-gray-lightest, 3%);
    box-sizing: content-box;
    background-color: $calendar-table-header-color;
    border-left: 8px solid $calendar-table-header-color;
    border-right: 8px solid $calendar-table-header-color;
    border-top: 16px solid $calendar-table-header-color;
    border-bottom: 10px solid $white;
  }

  ::ng-deep .mat-calendar-controls {
    margin: 0px !important;
  }

  ::ng-deep .mat-calendar-table-header-divider {
    padding: 0px !important;
    &::after {
      background-color: #0000;
    }
  }
}

@mixin defaultButton() {
  height: 48px;
  border-radius: 8px;
  transition: all 0.1s;
  &:active {
    transform: translateY(1px);
  }
}

@mixin matButtonCustomStyle($shadow-color: $accent) {
  @include defaultButton();
  box-shadow: 0 4px 12px rgba($shadow-color, 0.24);
}
