<app-simple-card class="list">
  <header class="header__wrapper">
    <div class="header">Tasks</div>
    <div class="header-sub">
      <span class="label">Today</span>
    </div>
    <button mat-button color="primary" class="more-button">View details</button>
  </header>
  <main>
    <!-- <div class="ticket" *ngFor="let ticket of tickets">
      <div class="ticket__title">{{ ticket.title }}</div>
      <div class="ticket__ammount">{{ ticket.ammount }}</div>
      <div></div>
    </div> -->
    <div class="task">
      <div class="task__blank">Finish ticket update</div>
      <div class="task__sufix bage">+</div>
    </div>
    <div class="task">
      <div class="icon"></div>
      <div class="task__title">Finish ticket update</div>
      <div class="task__sufix bage bage_Y">urgent</div>
    </div>
    <div class="task">
      <div class="icon"></div>
      <div class="task__title">Create new ticket example</div>
      <div class="task__sufix bage bage_G">new</div>
    </div>
    <div class="task">
      <div class="icon icon-checked">
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_584_73)">
            <path
              d="M5 11L7.92929 13.9293C7.96834 13.9683 8.03166 13.9683 8.07071 13.9293L15 7"
              stroke="white"
              stroke-width="1.7"
              stroke-linecap="round"
            />
          </g>
          <defs>
            <clipPath id="clip0_584_73">
              <rect width="20" height="20" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="task__title">Update ticket report</div>
      <div class="task__sufix bage">default</div>
    </div>
  </main>
</app-simple-card>
