@import "colors.scss";
@import "variables.scss";

:host {
  display: flex;
}

.main {
  flex-grow: 1;
  // min-width: calc(100vh - 255px);
  height: 100vh;
  background-color: $grayscale-bg;
  padding: 30px;
  transition: all 0.5s;

  .header {
    position: sticky;
    left: 0px;
    margin-bottom: 54px;
  }
}

@media screen and (max-width: $screen-size-medium) {
  .main {
    padding: 15px;
  }
}
