@import "colors.scss";

// :host {
//   display: flex;
// }

.main {
  overflow: hidden;
  overflow-x: auto;
  overflow-y: auto;
  // flex-grow: 1;
  position: relative;
  z-index: 1000;
  margin-left: 255px;
  min-width: calc(100vh - 255px);
  height: 100vh;
  background-color: $grayscale-bg;
  padding: 30px;

  .header {
    position: sticky;
    left: 0px;
  }
}
