<div class="wrapper">
  <div class="logo">
    <img src="/assets/img/logo.svg" alt="" class="logo__img" />
    <span>Dashboard Kit</span>
  </div>
  <nav class="navigation">
    <div
      *ngFor="let tab of tabs; index as i"
      class="tab"
      [class.tab_active]="tab.title == currentTab"
      (click)="setCurrentTab(tab.title)"
    >
      <!-- <img src="{{ tab.imageSrc }}" alt="" width="16px" height="16px" /> -->
      <div
        class="ico"
        [style.-webkit-mask-image]="'url(' + tab.imageSrc + ')'"
      ></div>
      {{ tab.title }}
    </div>
    <div class="divider"></div>
    <div
      class="tab"
      [class.tab_active]="currentTab == 'Settings'"
      (click)="setCurrentTabSettings()"
    >
      <!-- <img src="{{ tab.imageSrc }}" alt="" width="16px" height="16px" /> -->
      <div
        class="ico"
        [style.-webkit-mask-image]="'url(/assets/img/navIcon-settings.svg)'"
      ></div>
      Settings
    </div>
  </nav>
</div>
