@import "colors.scss";
@import "mixins.scss";
@import "variables.scss";
@import "./tab-item.scss";

$navbar-width: 255px;
$navbar-width-small: 180px;

:host {
  min-width: $navbar-width;
  color: $light-blue;

  & * {
    transition: all 0.2s;
  }
  transition: all 0.4s;
}

.navigation {
  margin-top: 26px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 98px;
  font-size: 19px;
  font-weight: 700;
  color: $grayscale-gray2;

  &__img {
    transition: all 0.3s;
    width: 48px;
    height: 48px;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $grayscale-divider;
  margin: 16px 0;
  opacity: 0.06;
}

.wrapper {
  position: sticky;
  top: 0px;
}

@keyframes lineScale {
  0% {
    width: 20px;
  }
  50% {
    width: 5px;
  }
  100% {
    width: 3px;
  }
}

@keyframes lineOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: $screen-size-medium) {
  :host {
    min-width: $navbar-width-small;
  }

  .logo {
    height: 72px;
    font-size: 16px;
    gap: 6px;
    &__img {
      width: 24px;
      height: 24px;
    }
  }
}
