// @import "colors.scss";
@import "mixins.scss";
@import "variables.scss";

:host {
  display: flex;
  flex-direction: column;
  gap: 30px;
  // @include flexColCenter(30px);
}

.card-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 15px;
}

.double-cards {
  display: flex;
  gap: 32px;
  & > * {
    width: 50%;
  }
}

@media screen and (max-width: $screen-size-medium) {
  .card-section {
    column-gap: 15px;
  }
}

@media screen and (max-width: $screen-size-tablet) {
  .card-section {
    grid-template-columns: 1fr 1fr;
  }
}
