@import "colors.scss";

:host {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 300;
  pointer-events: none;
}

.bg {
  background-color: #fff6;
  height: 100%;
  border-radius: 8px;
  backdrop-filter: blur(4px);

  transition: all 0.2s;

  .loading-text {
    position: sticky;
    top: 50vh;
    text-align: center;
    color: $grayscale-dark;
    padding: 30px;
    padding-top: 50px;

    & > * {
      animation: rotation 0.5s linear infinite;
    }
  }

  &_hidden {
    opacity: 0;
    backdrop-filter: blur(0px);
    transition: all 0.2s, opacity 0.3s;

    .loading-text {
      & > * {
        animation: none;
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
