<app-modal-window header="Forgot password?" [content]="text">
  <form
    class="forgot-form"
    *ngIf="!isNextState"
    [formGroup]="emailForm"
    (ngSubmit)="onSumbit()"
  >
    <div class="form-control">
      <label class="form-control__label" for="login-email">Email</label>
      <input
        placeholder="Email address"
        class="form-control__input"
        [class.form-control__input__failed]="email?.touched && (email?.errors?.['email'] || email?.errors?.['required'])"
        formControlName="email"
        type="email"
        id="login-email"
      />
      <div *ngIf="emailForm.invalid" class="form-control__error">
        <div *ngIf="email?.touched && email?.errors?.['email']">
          Incorrect email.
        </div>
        <div *ngIf="email?.touched && email?.errors?.['required']">
          Email required.
        </div>
      </div>
    </div>

    <app-regular-button [disabled]="!emailForm.valid"> Send</app-regular-button>
  </form>

  <div class="post-form">
    <div *ngIf="!isNextState">Don’t have an account? <a>Sign up</a></div>
    <div>Want back? <a (click)="this.reset()">Reset state</a></div>
  </div>
</app-modal-window>
