@import "colors.scss";
@import "variables.scss";

:host {
  display: flex;
}

.main {
  flex-grow: 1;
  min-height: 100vh;
  background-color: $grayscale-bg;
  padding: 30px;
  display: flex;
  flex-direction: column;

  .header {
    top: 15px;
    margin-bottom: 54px;
  }
}

@media screen and (max-width: $screen-size-medium) {
  .main {
    padding: 15px;
  }
}
