@import "colors.scss";
@import "mixins.scss";

:host {
  width: 100%;
}

.regular-button {
  transition: all 0.1s;
  background-color: $accent;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  padding: 15px 20px;
  border-radius: 8px;
  border: none;
  display: block;
  width: 100%;
  box-shadow: 0 4px 12px rgba($accent, 24%);
  cursor: pointer;

  &:hover {
    background-color: lighten($accent, 5%);
  }

  &:active {
    background-color: lighten($accent, 15%);
    transform: translateY(1px);
  }

  &:disabled {
    background-color: #888;
    box-shadow: none;
  }
}
