<app-login-modal-window header="Sign Up" content="Create a new account">
  <mat-stepper #stepper orientation="vertical" [linear]="false" class="stepper">
    <!-- --- STEP: ACCOUTN DATA --- -->
    <mat-step editable="false">
      <form [formGroup]="forms.accountData">
        <ng-template matStepLabel>Account data</ng-template>
        <mat-form-field>
          <label class="custom-label">Email</label>
          <input formControlName="email" matNativeControl placeholder="Email" />
        </mat-form-field>
        <mat-form-field>
          <label class="custom-label">Password</label>
          <input
            formControlName="password1"
            matNativeControl
            type="password"
            placeholder="Password"
          />
        </mat-form-field>
        <mat-form-field>
          <label class="custom-label">Confirm password</label>
          <input
            formControlName="password2"
            matNativeControl
            type="password"
            placeholder="Password"
          />
        </mat-form-field>
      </form>
    </mat-step>

    <!-- --- STEP: BASIC INFO --- -->
    <mat-step editable="false">
      <form [formGroup]="forms.basicData">
        <ng-template matStepLabel>Who are you?</ng-template>
        <mat-form-field>
          <label class="custom-label">First name</label>
          <input
            formControlName="firstName"
            matNativeControl
            placeholder="First name"
          />
        </mat-form-field>
        <mat-form-field>
          <label class="custom-label">Last name</label>
          <input
            formControlName="lastName"
            matNativeControl
            placeholder="Last name"
          />
        </mat-form-field>
        <mat-form-field>
          <label class="custom-label">Date of birth</label>
          <input
            matNativeControl
            placeholder="Date"
            formControlName="birthDate"
            [matDatepicker]="picker"
          />

          <mat-datepicker></mat-datepicker>

          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>
              <div class="calendar-ico"></div>
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker class="custom-datepicker"></mat-datepicker>
        </mat-form-field>
      </form>
    </mat-step>

    <!-- --- STEP: MORE INFO --- -->
    <mat-step>
      <form [formGroup]="forms.contactData">
        <ng-template matStepLabel>Contacts</ng-template>

        <!-- --- Address --- -->
        <mat-form-field>
          <label class="custom-label">Address</label>
          <input
            matNativeControl
            formControlName="address"
            placeholder="Address"
          />
        </mat-form-field>

        <!-- --- Phone --- -->
        <mat-form-field>
          <label class="custom-label">Phone</label>
          <input formControlName="phone" matNativeControl placeholder="Phone" />
        </mat-form-field>

        <!-- --- Relatives --- -->
        <div class="mat-form-field mat-form-field-label-only">
          <label class="custom-label">Relatives</label>
        </div>

        <div class="array">
          <ng-container
            *ngFor="let control of relatives.controls; index as i"
            class="array-wrapper"
            formArrayName="relatives"
          >
            <mat-form-field class="array-form-field">
              <button
                mat-icon-button
                matSuffix
                (click)="deleteFieldFromRelatives(i)"
                class="array-delete-button"
              >
                <mat-icon>close</mat-icon>
              </button>
              <input
                matNativeControl
                [formControlName]="i"
                [placeholder]="'Relative #' + (i + 1)"
              />
            </mat-form-field>
          </ng-container>
        </div>

        <div class="add-field-button">
          <button mat-button type="button" (click)="addNewFieldForRelatives()">
            <mat-icon>add</mat-icon>
            Add another one
          </button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>

  <button
    type="button"
    class="stepper-button stepper-button-next"
    mat-flat-button
    color="primary"
    (click)="nextStep()"
  >
    <span *ngIf="!isLastStep">Next</span>
    <span *ngIf="isLastStep">Finish</span>
  </button>
</app-login-modal-window>
