@import "colors.scss";
@import "mixins.scss";
@import "table.scss";

@include matMenuCustomStyle();

:host {
  flex-grow: 1;
}

.mat-flat-button {
  @include matButtonCustomStyle();
}

.mat-button-custom {
  @include matButtonCustomStyle(#f00);
}

.modal-delete {
  &__icon {
    font-size: 128px;
    height: 128px;
    width: 128px;
    color: rgba($grayscale-black, 0.2);

    &__wrapper {
      @include flexCenter();
    }
  }
}
