@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./colors.scss";
@import "./mixins.scss";

* {
  box-sizing: border-box;
  font-family: Mulish;
  margin: 0px;
}

.form-control {
  // background-color: #ff0;
  display: flex;
  flex-direction: column;
  min-width: 100%;

  &__label {
    text-transform: uppercase;
    font-size: 12px;
    color: #9fa2b4;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 4px;
  }

  &__input {
    padding: 11px 16px;
    border-radius: 8px;
    border: 1px solid #f0f1f7;
    background-color: #fcfdfe;

    &__failed {
      border: 1px solid #f00;
      // background-color: #f00;
    }

    &::placeholder {
      color: #4b506d;
      opacity: 0.4;
    }

    &:focus {
      // outline: 1px solid $accent;
      outline: none;
    }
  }

  &__error {
    & * {
      color: #f00;
      font-size: 13px;
      margin-top: 5px;
    }
    color: #f00;
    font-size: 13px;
    margin-top: 0px;
  }
}

.post-form {
  text-align: center;
  color: #9fa2b4;
  @include flexColCenter(10px);
}

a {
  color: $accent;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}
